<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Patua+One&display=swap" rel="stylesheet">
    <style>
    .logo-container{
                background-color:#2E9AFE;
                color: #FFFF
}

.logo{font-family: 'Dancing Script', cursive;
font-family: 'Patua One', cursive;
    font-size: 2rem;}

    .display-3{font-family: 'Dancing Script', cursive;
font-family: 'Patua One', cursive;}


    </style>

</head>
<body>

</body>
</html>